.login-container{
    position: absolute;
    margin-top: 130px;
    margin-bottom: 50px;
    .card{
        background-color: white !important;
/*         .card-header{
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-top: -40px;
            border-radius: 50%;
            font-size: 36px;
        } */
    }
}
.bordo{
    background-color: white;
}
