<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="card border-0 box-shadow mb-4">
          <div class="card-body"> 
              <h4 class="card-title text-center">Elenco Categorie</h4>
              <ul class="categoryList">
                <li *ngFor="let category of tatamiStatus;">
    
                  <button [class.selected]="selectedCategory && category.categorycode_id === selectedCategory.categorycode_id" type="button" (click)="onSelect(category)">
                    <span *ngIf="category.status == constants.STATUS_TODO" class="badge badge-success code">{{category.categorycode.id}}</span>
                    <span *ngIf="category.status == constants.STATUS_OPEN" class="badge badge-primary code">{{category.categorycode.id}}</span>
                    <span *ngIf="category.status == constants.STATUS_DOING" class="badge badge-warning code">{{category.categorycode.id}}</span>
                    <span *ngIf="category.status == constants.STATUS_DONE" class="badge badge-danger code">{{category.categorycode.id}}</span>
                    <span class="name">{{category.categorycode.specialita}} - {{category.categorycode.categoria}} {{category.categorycode.grado}} - {{category.categorycode.sesso}} </span>
                    <span></span>
                    
                  </button>
              </ul>
  
          </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">

        <div class="card">                        
            <div class="card-body">
              <h5 class="card-title mb-0">Elenco Atleti - {{labelCategory}}</h5>
            </div>
            
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="row mb-1" *ngIf="athleteList && typeForm != constants.PROVA_KUMITE && typeForm != constants.PROVA_KUMITE_U12">
                    <div class="col">
                        <div class="input-group mb-3 box-shadow"> 
                            <div class="input-group-prepend">
                                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
                            </div>                   
                            <input type="text" [(ngModel)]="searchText" placeholder="Cerca per nome o cognome" class="form-control border-0">
                        </div>
                    </div>
                </div>
                <div class="card border-0" *ngFor="let athlete of athleteList | CategorySearchPipe : searchText; index as i ">
                  <div class="card-header" [ngStyle]="{'background-color': athlete.scores.type == 'CL' ? 'lightgreen' : '' }" role="tab" id="headingOne">
                    <h6 class="ml-4 mb-0">
                      <a class="text-primary row" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseOne" (click)="displayAthlete(athlete)">
                        
                        
                        <div class="mr-2" style="font-weight: bold; font-size: large;">{{athlete.scores.cl_position && athlete.scores.type == 'CL'? athlete.scores.cl_position + ' - ' : ''}}</div>
                        <!-- <i *ngIf="athlete.scores.type == 'FI'" class="fa fa-trophy fa-lg " style="color:goldenrod"> </i> 
                        <i *ngIf="athlete.scores.type == 'FI'" class="fa fa-trophy fa-lg " style="color:grey"></i> 
                        <div *ngIf="athlete.scores.type == 'FI'" class="ml-3 mr-3 finals-label"> Finale</div> 
      
                        <i *ngIf="athlete.scores.type == 'SF_1'" class="fa fa-trophy fa-lg " style="color:brown"></i> 
                        <div *ngIf="athlete.scores.type == 'SF_1'" class="ml-3 mr-3 finals-label"> Semifinale 1</div> 
                        <i *ngIf="athlete.scores.type == 'SF_2'" class="fa fa-trophy fa-lg " style="color: brown"></i> 
                        <div *ngIf="athlete.scores.type == 'SF_2'" class="ml-3 mr-3 finals-label"> Semifinale 2</div>   -->                       
                        <i class="fa fa-user-circle-o fa-lg mr-2" [ngStyle]="{'color': colorMapping[athlete.scores.color]}"></i> 
                        
                        {{athlete.athlete.cognome}} {{athlete.athlete.nome}} - {{athlete.athlete.data_nascita}} -  {{athlete.athlete.club.club_name}}
                        <div *ngIf="athlete.scores.type == 'CL'" class="ml-3 mr-3 finals-label"> CLASSIFICA FINALE</div> 
                        <i *ngIf="athlete.scores.total != null || athlete.scores.total_time_seconds != null" class="fa fa-check fa-lg" style="color:green"></i>
                 
                        
                      </a>
                    </h6>
                  </div>

                  <div [id]="'collapseOne'+i" class="collapse" [class.show]="athlete.show" data-parent="#accordion" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                      
                        <form *ngIf="typeForm == constants.PROVA_KATA_ADULTI || typeForm == constants.PROVA_KATA_SQUADRE" [formGroup]="athlete.scoreForm" method="post" enctype="multipart/form-data" class="form-horizontal">
                      
                            
                            <div class="row">
                            <div class="form-group col-md-3">
                                
                              <label class="col-form-label" for="kata">Kata</label>
      
                              <ng-select id="kata" formControlName="kata_id" required>
                                <ng-option *ngFor="let kata of kataList" [value]="kata.id">{{kata.kata_name}}</ng-option>
                             </ng-select>
                            </div>
                            <div class="form-group row col-md-6">
                              <div style="max-width: 20%">
                                <label class=" col-form-label" for="referee_1">Giudice 1</label>
                                <div>
                                  <input formControlName="referee_1" class="form-control" id="referee_1" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}"
                                   [ngStyle]=" athlete.scores.min_referee == '1' || athlete.scores.max_referee == '1' ? {'background-color': 'mistyrose'} : ''" required>
                                </div>
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="referee_2">Giudice 2</label>
                                <div>
                                  <input formControlName="referee_2" class="form-control" id="referee_2" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}" 
                                  [ngStyle]=" athlete.scores.min_referee == '2' || athlete.scores.max_referee == '2' ? {'background-color': 'mistyrose'} : ''" required>
                                </div>
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="referee_3">Giudice 3</label>
                                <div >
                                  <input formControlName="referee_3" class="form-control" id="referee_3" min="5.0" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}"
                                  [ngStyle]=" athlete.scores.min_referee == '3' || athlete.scores.max_referee == '3' ? {'background-color': 'mistyrose'} : ''"  required>
                                </div>
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="referee_4">Giudice 4</label>
                                <div>
                                  <input formControlName="referee_4" class="form-control" id="referee_4" min="5.0" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}"
                                  [ngStyle]=" athlete.scores.min_referee == '4' || athlete.scores.max_referee == '4' ? {'background-color': 'mistyrose'} : ''" required>
                                </div>
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="referee_5">Giudice 5</label>
                                <div>
                                  <input formControlName="referee_5" class="form-control" id="referee_5" min="5.0" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}"
                                  [ngStyle]=" athlete.scores.min_referee == '5' || athlete.scores.max_referee == '5' ? {'background-color': 'mistyrose'} : ''" required>
                                </div>
                              </div>
                            </div>
                            
                            <div class="form-group row col-md-3 ml-1">
                              <div class="ml-2" style="max-width: 45%">
                                <label class="col-form-label" for="total">Totale</label>
                                <div>
                                  <input formControlName="total" disabled class="form-control" id="total">
                                </div>
                              </div>
                            </div>

                            </div>
                            <div class="row">
                            <div class="col-md-3">
                              <div *ngIf="athlete.scores.n_prova > 1" class="row">
                                <button type="button" class="btn btn-primary ml-3" (click)="getPreviousMatch(athlete.scores, 'SHOW')"><i class="fa fa-dot-circle-o"></i> Vedi prove precedenti</button>
                              </div>
                            </div>
                            
                          </div>
                          <div class="row">
                          <div class="row col-md-6"></div>
                          <div class="row col-md-6">
                            <div *ngIf="athlete.scores.type != 'CL'" class="row"  style="float: right;">
                              <button type="button" class="btn btn-danger" (click)="checkSubmit(athlete.scoreForm, athlete.id, 'kiken')"><i class="fa fa-ban"></i> Ritirato</button>
                              <button type="button" class="btn btn-warning ml-3" (click)="checkSubmit(athlete.scoreForm, athlete.id, 'min_score')"><i class="fa fa-ban"></i> Squalificato</button>
                              <button type="button" class="btn btn-primary ml-3" (click)="checkSubmit(athlete.scoreForm, athlete.id)"><i class="fa fa-dot-circle-o"></i> Calcola totale</button>
                            </div>
                          </div>
                          </div>
                          </form>
      
                          <form *ngIf="typeForm == constants.PROVA_KATA_BAMBINI" [formGroup]="athlete.scoreForm" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row">
                            <div class="form-group col-md-3">
                              <label class="col-form-label" for="kata">Kata</label>
                              <ng-select id="kata" formControlName="kata_id" required>
                                <ng-option *ngFor="let kata of kataList" [value]="kata.id">{{kata.kata_name}}</ng-option>
                             </ng-select>
                            </div>
                            <div class="form-group row col-md-6">
                              <div style="max-width: 20%">
                                <label class=" col-form-label" for="referee_1">Giudice 1</label>
                                <div>
                                  <input formControlName="referee_1" class="form-control" id="referee_1" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}">
                                </div>
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="referee_2">Giudice 2</label>
                                <div>
                                  <input formControlName="referee_2" class="form-control" id="referee_2" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}">
                                </div>
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="referee_3">Giudice 3</label>
                                <div >
                                  <input formControlName="referee_3" class="form-control" id="referee_3" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}">
                                </div>
                              </div>
                            </div>
                            <div class="form-group row col-md-3 ml-1">
                              <div class="ml-2" style="max-width: 45%">
                                <label class="col-form-label" for="total">Totale</label>
                                <div>
                                  <input formControlName="total" disabled class="form-control" id="total">
                                </div>
                              </div>
                            </div>
                            </div>
      
                          <div class="row">
                          <div class="row col-md-6"></div>
                          <div *ngIf="athlete.scores.type != 'CL'" class="row"  style="float: right;">
                            <button type="button" class="btn btn-danger" (click)="checkSubmit(athlete.scoreForm, athlete.id, 'kiken')"><i class="fa fa-ban"></i> Ritirato</button>
                            <button type="button" class="btn btn-warning ml-3" (click)="checkSubmit(athlete.scoreForm, athlete.id, 'min_score')"><i class="fa fa-ban"></i> Squalificato</button>
                            <button type="button" class="btn btn-primary ml-3" (click)="checkSubmit(athlete.scoreForm, athlete.id)"><i class="fa fa-dot-circle-o"></i> Calcola totale</button>
                          </div>
                          </div>
                          </form>
      
                          <form *ngIf="typeForm == constants.PROVA_PALLONCINO" [formGroup]="athlete.scoreForm" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row">
                            <div class="form-group row col-md-6">
                              <div style="max-width: 20%">
                                <label class=" col-form-label" for="referee_1">Giudice 1</label>
                                <div>
                                  <input formControlName="referee_1" placeholder="" class="form-control" id="referee_1" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}">
                                </div>
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="referee_2">Giudice 2</label>
                                <div>
                                  <input formControlName="referee_2" class="form-control" id="referee_2" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}">
                                </div>
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="referee_3">Giudice 3</label>
                                <div >
                                  <input formControlName="referee_3" class="form-control" id="referee_3" currencyMask [options]="{decimal: '.', prefix:'', precision: 1, align: 'left'}">
                                </div>
                              </div>
                              <div style="width: 20%">
                                
                              </div>
                              <div style="max-width: 20%">
                                <label class="col-form-label" for="total_without_penalties">Tot Parziale</label>
                                <div >
                                  <input formControlName="total_without_penalties" class="form-control" disabled id="total_without_penalties">
                                </div>
                              </div>
                            </div>
                            <div class="form-group row col-md-3 ml-1">
                              <div style="max-width: 45%">
                                <label class="col-form-label" for="penalty">Penalità</label>
                                <div>
                                  <input formControlName="penalty" class="form-control" id="penalty" type="number">
                                </div>
                              </div>
                              <div class="ml-2" style="max-width: 45%">
                                <label class="col-form-label" for="total">Totale</label>
                                <div>
                                  <input formControlName="total" disabled class="form-control" id="total">
                                </div>
                              </div>
                            </div>
                            </div>
      
                          <div class="row">
                          <div class="row col-md-6"></div>
                          <div *ngIf="athlete.scores.type != 'CL'" class="row"  style="float: right;">
                            <button type="button" class="btn btn-danger" (click)="checkSubmit(athlete.scoreForm, athlete.id, 'kiken')"><i class="fa fa-ban"></i> Ritirato</button>
                            <button type="button" class="btn btn-warning ml-3" (click)="checkSubmit(athlete.scoreForm, athlete.id, 'min_score')"><i class="fa fa-ban"></i> Squalificato</button>
                            <button type="button" class="btn btn-primary ml-3" (click)="checkSubmit(athlete.scoreForm, athlete.id, null)"><i class="fa fa-dot-circle-o"></i> Calcola totale</button>
                          </div>
                          </div>
                          </form>
      
                          <form *ngIf="typeForm == constants.PROVA_PERCORSO" [formGroup]="athlete.scoreForm" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row">
                            <div class="form-group row col-md-6">
                              <div style="max-width: 20%">
                                <label class=" col-form-label" for="minutes">Minuti</label>
                                <div>
                                  <input formControlName="minutes" class="form-control" id="minutes" type="number">
                                </div>
                              </div>
                              <div style="width: 20%">
                                <label class=" col-form-label" for="seconds">Secondi</label>
                                <div>
                                  <input formControlName="seconds" class="form-control" id="seconds" type="number" min="0" max="60">
                                </div>
                              </div>
                              <div style="width: 20%">
                                <label class=" col-form-label" for="milliseconds">Millisecondi</label>
                                <div>
                                  <input formControlName="milliseconds" class="form-control" id="milliseconds"type="number">
                                </div>
                              </div>
                            </div>
      
                            <div class="form-group row col-md-3 ml-1">
                              <div style="max-width: 45%">
                                <label class="col-form-label" for="penalty">Penalità</label>
                                <div>
                                  <input formControlName="penalty" class="form-control" id="penalty" type="number">
                                </div>
                              </div>
                              <div class="ml-2" style="max-width: 45%">
                                <label class="col-form-label" for="total">Totale</label>
                                <div>
                                  <input formControlName="total_time" disabled class="form-control" id="total_time">
                                </div>
                              </div>
                            </div>
                            </div>
      
                          <div class="row">
                          <div class="row col-md-6"></div>
                          <div *ngIf="athlete.scores.type != 'CL'" class="row"  style="float: right;">
                            <button type="button" class="btn btn-danger" (click)="checkSubmit(athlete.scoreForm, athlete.id, 'kiken')"><i class="fa fa-ban"></i> Ritirato</button>
                            <button type="button" class="btn btn-primary ml-3" (click)="checkSubmit(athlete.scoreForm, athlete.id)"><i class="fa fa-dot-circle-o"></i> Calcola totale</button>
                          </div>
                          </div>
                          </form>
                          
                    </div>
                  </div>
                </div>
               <!-- <div class="brackets-viewer"></div> -->
               <div *ngIf="typeForm == constants.PROVA_KUMITE || typeForm == constants.PROVA_KUMITE_U12" class="row mt-4">
                <div class="col-md-9">
                  <div id="minimal"></div>
                </div>
                <div class="col-md-9">
                  <div id="girone-2"></div>
                </div>
                <div class="col-md-9">
                  <div id="girone-3"></div>
                </div>
              </div>
                <div class="row mt-4">
                    <div class="col-md-9"></div>
                    <button type="button" *ngIf="typeForm != constants.PROVA_KUMITE && typeForm != constants.PROVA_KUMITE_U12" class="btn btn-warning ml-3" (click)="elaboraPunteggi(athleteList[0].scores.n_prova)"><i class="fa fa-dot-circle-o"></i> Elabora punteggi</button>
                    <button *ngIf="athleteList && athleteList[0] && athleteList[0].scores && athleteList[0].scores.type == 'CL' || typeForm == constants.PROVA_KUMITE || typeForm == constants.PROVA_KUMITE_U12" type="button" class="btn btn-danger ml-3" (click)="closeCategory()"><i class="fa fa-dot-circle-o"></i> Chiudi categoria</button>
                  </div>
               
            </div>
           
            <div class="card-body">
                
            </div> 
        </div>
  
    </div>
  </div>

  <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modifica punteggio</h4>
          <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Stai modificando un punteggio già salvato, vuoi continuare?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Close</button>
          <button type="button" class="btn btn-danger" (click)="editScores()">Salva</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div bsModal #doubleKataModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Attenzione!</h4>
          <button type="button" class="close" (click)="doubleKataModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="doubleKataModal.hide()">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
  <div bsModal #matchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Elenco atleti</h4>
          <button type="button" class="close" (click)="matchModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div *ngFor="let athlete of previousMatches;">
                    <div class="row"> <h5 class="mr-4 ml-4">N.Prova {{athlete.n_prova}}</h5>  <h5 class="mr-4 ml-4">Kata: {{athlete.kata.kata_name}}</h5>   <h5 class="ml-4"> Totale: {{athlete.total}}</h5> </div>
                    
                    <table class="table table-striped mt-4 mb-4">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Giudice 1</th>
                          <th>Giudice 2</th>
                          <th>Giudice 3</th>
                          <th>Giudice 4</th>
                          <th>Giudice 5</th>
                          <th>Totale</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Prestazione Tecnica</td>
                          <td>{{athlete.referee_1}}</td>
                          <td>{{athlete.referee_2}}</td>
                          <td>{{athlete.referee_3}}</td>
                          <td>{{athlete.referee_4}}</td>
                          <td>{{athlete.referee_5}}</td>
                          <td>{{athlete.total}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                </div>
              </div>
            </div>
            <!--/.col-->
        
          </div>
  
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" (click)="matchModal.hide()"><i class="fa fa-ban"></i> Chiudi</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div bsModal #kumiteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
          [config]="{backdrop: 'static', keyboard: false}"  aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content" *ngIf="currentMatch && currentMatch.ao && currentMatch.aka">
        <div class="modal-header">
          <h4 class="modal-title">Kumite</h4>
        </div>
        <div class="modal-body" >

          <div class="card-body ml-2">
            <div class="row">
              <div class="col-md-5 text-center">
                <i *ngIf="currentMatch.ao.scores.win == 1" class="fa fa-square fa-lg float-right" style="color:blue"></i> 
                <i *ngIf="currentMatch.ao.scores.win == 0" class="fa fa-remove fa-lg float-right" style="color:blue"></i> 
                  <h5> <b>{{currentMatch.ao.athlete.cognome}} {{currentMatch.ao.athlete.nome}}</b></h5>
                  <p>{{currentMatch.ao.athlete.club.club_name}}</p>
                    <h2 style="color: blue !important; font-weight: bold;">{{currentMatch.ao.scores.total}}</h2>
                    
                  <p style="color: blue !important; font-weight: bold;">C: {{currentMatch.ao.scores.chui_1 ? '1C' : '--'}} {{currentMatch.ao.scores.chui_2 ? '2C' : '--'}} {{currentMatch.ao.scores.chui_3 ? '3C' : '--'}} {{currentMatch.ao.scores.hans_chui ? 'HC' : '--'}} {{currentMatch.ao.scores.hansoku ? 'H' : '--'}}</p>
              </div>
              <div class="col-md-2 text-center">
                <i *ngIf="currentMatch.ao.scores.senshu" class="fa fa-flag fa-lg mt-4 float-left" style="color:blue"></i> 
                <i *ngIf="currentMatch.aka.scores.senshu" class="fa fa-flag fa-lg mt-4 float-right" style="color:red"></i> 
                <h2 class="mt-5"> <b>{{countdown | formatTime}} </b></h2>

                <button [disabled]="!showStartButton" type="button" class="btn btn-primary w-100p mb-1 mr-1 mt-1" (click)='resetTimer()'>Reset</button>
                <div class="row ml-1">
                  <button [disabled]="!showStartButton" type="button" class="btn btn-primary w-50p" (click)="modifyTimer('PLUS')">+1s</button>
                  <button [disabled]="!showStartButton" type="button" class="ml-1 btn btn-primary w-50p" (click)="modifyTimer('MINUS')">-1s</button>
                </div>
                  
                 
                  <button *ngIf="showStartButton" type="button" class="btn btn-outline-primary w-100p mb-1 mr-1 mt-5" (click)='startTimer()'>Start</button>
                  <button *ngIf="!showStartButton" type="button" class="btn btn-outline-primary w-100p mb-1 mr-1 mt-5" (click)='pauseTimer()'>Stop</button>
               
                
              </div>
              <div class="col-md-5 text-center">
                <i *ngIf="currentMatch.aka.scores.win == 1" class="fa fa-square fa-lg float-left" style="color:red"></i> 
                <i *ngIf="currentMatch.aka.scores.win == 0" class="fa fa-remove fa-lg float-left" style="color:red"></i> 
                <h5><b>{{currentMatch.aka.athlete.cognome}} {{currentMatch.aka.athlete.nome}}</b></h5>
                <p>{{currentMatch.aka.athlete.club.club_name}}</p>
                <h2 style="color: red !important; font-weight: bold;">{{currentMatch.aka.scores.total}}</h2>
                <p style="color: red !important; font-weight: bold;">C: {{currentMatch.aka.scores.chui_1 ? '1C' : '--'}} {{currentMatch.aka.scores.chui_2 ? '2C' : '--'}} {{currentMatch.aka.scores.chui_3 ? '3C' : '--'}} {{currentMatch.aka.scores.hans_chui ? 'HC' : '--'}} {{currentMatch.aka.scores.hansoku ? 'H' : '--'}}</p>

              </div>
            </div>
            <div class="row">
              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="aosenshu" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.ao.scores.senshu"> Senshu
              </label>
              <button type="button" class="btn btn-outline-primary w-100p mb-1 mr-1" (click)="editScoreAo(3, 'ADD')">+ Ippon</button>
              <button type="button" class="btn btn-outline-primary w-100p mb-1 mr-1" (click)="editScoreAo(2, 'ADD')">+ Waza-ari</button>
              <button type="button" class="btn btn-outline-primary w-100p mb-1 mr-1" (click)="editScoreAo(1, 'ADD')">+ Yuko</button>
              <button type="button" class="btn btn-outline-danger w-100p mb-1 mr-1 ml-4" (click)="editScoreAka(1, 'ADD')">+ Yuko</button>
              <button type="button" class="btn btn-outline-danger w-100p mb-1 mr-1" (click)="editScoreAka(2, 'ADD')">+ Waza-ari</button>
              <button type="button" class="btn btn-outline-danger w-100p mb-1 mr-1" (click)="editScoreAka(3, 'ADD')">+ Ippon</button>
              <label class="btn btn-outline-danger w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="akasenshu" autocomplete="off" 
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.aka.scores.senshu"> Senshu
              </label>
            </div>
            <div class="row">
              <button type="button" class="btn btn-outline-primary w-100p mb-1 mr-1" (click)="winMatch('AO')"> Vincitore</button>
              <button type="button" class="btn btn-outline-primary w-100p mb-1 mr-1" (click)="editScoreAo(3, 'REMOVE')"> - Ippon</button>
              <button type="button" class="btn btn-outline-primary w-100p mb-1 mr-1" (click)="editScoreAo(2, 'REMOVE')"> - Waza-ari</button>
              <button type="button" class="btn btn-outline-primary w-100p mb-1 mr-1" (click)="editScoreAo(1, 'REMOVE')"> - Yuko</button>
              <button type="button" class="btn btn-outline-danger w-100p mb-1 mr-1 ml-4" (click)="editScoreAka(1, 'REMOVE')"> - Yuko</button>
              <button type="button" class="btn btn-outline-danger w-100p mb-1 mr-1" (click)="editScoreAka(2, 'REMOVE')"> - Waza-ari</button>
              <button type="button" class="btn btn-outline-danger w-100p mb-1 mr-1" (click)="editScoreAka(3, 'REMOVE')"> - Ippon</button>
              <button type="button" class="btn btn-outline-danger w-100p mb-1 mr-1" (click)="winMatch('AKA')"> Vincitore</button>
            </div>
            <div class="row">

              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="ao1hansoku" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.ao.scores.chui_1"> Chui 1
              </label>
              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                  <input type="checkbox" name="checkboxes" id="ao1hansokuchui" autocomplete="off"
                  (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.ao.scores.chui_2"> Chui 2
              </label>
              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="ao1keikoku" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.ao.scores.chui_3"> Chui 3
              </label>
              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                
              </label>

              <label class="btn btn-outline-danger w-100p mb-1 mr-1  ml-4">
                
              </label>
              <label class="btn btn-outline-danger w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="aka2chukoku" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.aka.scores.chui_3"> Chui 3
              </label>
              <label class="btn btn-outline-danger w-100p mb-1 mr-1">
                  <input type="checkbox" name="checkboxes" id="aka2keikoku" autocomplete="off" 
                  (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.aka.scores.chui_2"> Chui 2
              </label>
              <label class="btn btn-outline-danger w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="aka2hansokuchui" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.aka.scores.chui_1"> Chui 1
              </label>
            </div>
            <div class="row">
              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="ao1chukoku" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.ao.scores.hans_chui"> Han Chui
            </label>
              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="aka1chukoku" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.ao.scores.hansoku"> Hansoku
              </label>
              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                  <input type="checkbox" name="checkboxes" id="aka1keikoku" autocomplete="off"
                  (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.ao.scores.shikkaku"> Shikkaku
              </label>
              <label class="btn btn-outline-primary w-100p mb-1 mr-1">
                
              </label>

              <label class="btn btn-outline-danger w-100p mb-1 mr-1  ml-4">
                
              </label>
              

              <label class="btn btn-outline-danger w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="aka2hansoku" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.aka.scores.hans_chui"> H Chui
            </label>
              <label class="btn btn-outline-danger w-100p mb-1 mr-1">
                <input type="checkbox" name="checkboxes" id="aka1chukoku" autocomplete="off"
                (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.aka.scores.hansoku"> Hansoku
              </label>
              <label class="btn btn-outline-danger w-100p mb-1 mr-1">
                  <input type="checkbox" name="checkboxes" id="aka1keikoku" autocomplete="off"
                  (change)="onCheckboxChange()"  [(ngModel)]="currentMatch.aka.scores.shikkaku"> Shikkaku
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeMatch()">Chiudi</button>
          <button *ngIf="currentMatch.aka.scores.type == 'C' && currentMatch.ao.scores.type == 'C'" type="button" class="btn btn-secondary" (click)="saveMatch()">Salva</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
