<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Lista Atleti</h5>
        <button class="btn btn-primary btn-lg btn-custom box-shadow mr-3"
            (click)="openModal(modalContent)">
            <i class="fa fa-user-plus mr-2"></i>
            Aggiungi atleta
        </button>
               
    </div>
    <div class="card-body pt-0 widget-body">
        <div class="table-responsive">
            <ng2-smart-table  class="table table-hover"
                              [settings]="settings" 
                              [source]="data" 
                              (custom)="onCustom($event, editCategory)"
                              (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
        </div>          
    </div>
</div>


<ng-template #modalContent>
    <!-- <div class="modal-body bg-gray"> -->
    <div class="row">
        <div class="col-12 vertical-tabs">
            <div widget class="card border-0 box-shadow">
                <div class="card-header transparent border-0 text-muted " style="background-color: #202F40;">
                    <h5 class="mb-0" style="color:white !important">INSERISCI NUOVO ISCRITTO</h5>
                </div>
                <div *ngIf="!confirmed" class="card-body widget-body">

                    <div *ngFor="let step of steps" [hidden]="!step.active" class="bg-light col mx-auto">

                        <form *ngIf="step.name=='dati atleta'" [formGroup]="athleteForm"
                            class="row bg-light pt-2 mx-auto">

                            <div class="form-group col-md-12">
                                <ngx-select-dropdown [instanceId]="'instance1'" 
                                (change)="selectionChanged($event)" 
                                [multiple]="false" 
                                [config]="config" 
                                [options]="athletes"></ngx-select-dropdown> 
                                
                                </div> 
                            <!-- nome e cognome -->
                            <div class="form-group col-md-5"
                                [ngClass]="{'has-danger' : step.hasError && athleteForm.get('surname').hasError('required'), 'has-success' : !athleteForm.get('surname').hasError('required') }">
                                <label class="form-control-label">Cognome *</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                                class="fa fa-user-o"></i></span></div>
                                    <input formControlName="surname" class="form-control"
                                        [ngClass]="{'form-control-danger' :  athleteForm.get('surname').hasError('required'), 'form-control-success' :  !athleteForm.get('surname').hasError('required') }"
                                        type="text" data-hj-whitelist>
                                </div>
                                <small class="text-danger"
                                    *ngIf="step.hasError && athleteForm.get('surname').hasError('required')">Campo
                                    obbligatorio</small>
                            </div>
                            <div class="form-group col-md-5"
                                [ngClass]="{'has-danger' : step.hasError && athleteForm.get('name').hasError('required'), 'has-success' : !athleteForm.get('name').hasError('required') }">
                                <label class="form-control-label">Nome *</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                                class="fa fa-user-o"></i></span></div>
                                    <input formControlName="name" class="form-control"
                                        [ngClass]="{'form-control-danger' :  athleteForm.get('name').hasError('required'), 'form-control-success' :  !athleteForm.get('name').hasError('required') }"
                                        type="text" data-hj-whitelist>
                                </div>
                                <small class="text-danger"
                                    *ngIf="step.hasError && athleteForm.get('name').hasError('required')">Campo
                                    obbligatorio</small>
                            </div>


                            <!-- data di nascita -->
                            <div class="form-group col-md-5"
                                [ngClass]="{'has-danger' : (step.hasError && athleteForm.get('birthdate_day').hasError('required')) || (step.hasError && athleteForm.get('birthdate_month').hasError('required')) || (step.hasError && athleteForm.get('birthdate_year').hasError('required')), 'has-success' : !athleteForm.get('birthdate_day').hasError('required') && !athleteForm.get('birthdate_month').hasError('required') && !athleteForm.get('birthdate_year').hasError('required') }">
                                <div class="form-group">
                                    <label for="birthdate_day" class="form-control-label">Data di nascita*</label>
                                    <div class="row ml-1">
                                        <input type="text" placeholder="giorno" class="col-md-3 form-control mr-2"
                                            id="birthdate_day" formControlName="birthdate_day" data-hj-whitelist>
                                        <input type="text" placeholder="mese" class="col-md-3 form-control mr-2"
                                            id="birthdate_month" formControlName="birthdate_month" data-hj-whitelist>
                                        <input type="text" placeholder="anno" class="col-md-3 form-control mr-2" (change)="checkCategory()"
                                            id="birthdate_year" formControlName="birthdate_year" data-hj-whitelist>
                                    </div>
                                </div>
                                <small class="text-danger"
                                    *ngIf="step.hasError && athleteForm.get('birthdate_day').hasError('required')">Campo
                                    obbligatorio</small>
                                <small class="text-danger"
                                    *ngIf="step.hasError && athleteForm.get('birthdate_month').hasError('required')">Campo
                                    obbligatorio</small>
                                <small class="text-danger"
                                    *ngIf="step.hasError && athleteForm.get('birthdate_year').hasError('required')">Campo
                                    obbligatorio</small>


                            </div>

                            <!-- cintura -->
                            <div class="form-group col-md-5"
                                [ngClass]="{'has-danger' : step.hasError && athleteForm.get('cintura').hasError('required'), 'has-success' : !athleteForm.get('cintura').hasError('required') }">
                                <div class="form-group">
                                    <label for="exampleSelect1" class="form-control-label">Cintura</label>
                                    <select class="form-control" id="exampleSelect1" formControlName="cintura">
                                        <option value="Bianca">BIANCA</option>
                                        <option value="Gialla">GIALLA</option>
                                        <option value="Arancione">ARANCIONE</option>
                                        <option value="Verde">VERDE</option>
                                        <option value="Blu">BLU</option>
                                        <option value="Marrone">MARRONE</option>
                                        <option value="Nera">NERA</option>
                                    </select>
                                </div>
                                <small class="text-danger"
                                    *ngIf="step.hasError && athleteForm.get('cintura').hasError('required')">Campo
                                    obbligatorio</small>
                            </div>

                            <!-- sesso, con menù a tendina -->
                            <div class="form-group col-md-2"
                                [ngClass]="{'has-danger' : step.hasError && athleteForm.get('sesso').hasError('required'), 'has-success' : !athleteForm.get('sesso').hasError('required') }">
                                <div class="form-group">
                                    <label for="exampleSelect1" class="form-control-label">Genere</label>
                                    <select class="form-control" id="exampleSelect1" formControlName="sesso">
                                        <option value='M'>M</option>
                                        <option value='F'>F</option>
                                    </select>
                                </div>
                                <small class="text-danger"
                                    *ngIf="step.hasError && athleteForm.get('sesso').hasError('required')">Campo
                                    obbligatorio</small>
                            </div>

                            <div class="form-group col-md-5"
                                [ngClass]="{'has-danger' : step.hasError && erroreCategoria, 'has-success' : !erroreCategoria }">
                                <label class="control-label">Categoria</label>
                                <input type="text" name="categoria" [value]="categoria" class="form-control"
                                    disabled="true" data-hj-whitelist>
                                <small class="text-danger" *ngIf="step.hasError && erroreCategoria">Non è stato
                                    possibile recuperare la categoria di appartenenza. Controllare che la data di
                                    nascita sia
                                    stata inserita correttamente</small>
                            </div>
                        </form>

                        <div *ngIf="step.name=='selezione prove'" class="row bg-light pt-2">
                            <div class="col-12">
                                <p>Selezionare una o più prove. Nel caso venga selezionata la prova KUMITE comparirà un
                                    campo PESO nel quale andrà inserito il peso effettivo dell'atleta.</p>
                            </div>
                            <div class="col-12 ml-4">
                                <div class="col-12 mb-4">
                                    <!-- <div widget class="card border-0 box-shadow"> -->

                                    <!-- <h6>selezione prove</h6> -->
                                    <div class="form-group">
                                        <div *ngFor="let item of prove" class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input checkbox-dark-gray"
                                                [id]="item.label" [(ngModel)]="item.checked" (change)="showPeso()">
                                            <label class="custom-control-label"
                                                [for]="item.label">{{item.label}}</label>
                                        </div>
                                    </div>
                                    <!--  </div> -->
                                </div>
                                <form *ngIf="show" [formGroup]="weightForm">
                                    <div class="form-group col-md-6"
                                        [ngClass]="{'has-danger' : (step.hasError &&  weightForm.get('peso').hasError('required')) || errorePeso, 'has-success' : !weightForm.get('peso').hasError('required') }">
                                        <div class="form-group">
                                            <label for="exampleSelect1" class="form-control-label mr-2">Peso *</label>
                                            <input type="number" id="exampleSelect1" formControlName="peso">
                                        </div>
                                        <small class="text-danger"
                                            *ngIf="(step.hasError && weightForm.get('peso').hasError('required')) || errorePeso">Campo
                                            obbligatorio. Inserire un peso valido</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <button *ngIf="!steps[0].active" class="btn btn-primary btn-custom mx-auto" (click)="prev()"><i
                                class="fa fa-chevron-left arrow"></i>&nbsp;
                            Indietro</button>
                        <button *ngIf="steps[0].active" class="btn btn-primary btn-custom mx-auto"
                            (click)="closeModal()">
                            Chiudi</button>
                        <button *ngIf="!steps[steps.length-1].active" class="btn-custom btn btn-primary mx-auto"
                            (click)="next()" style="float: right">Prosegui
                            &nbsp;<i class="fa fa-chevron-right arrow"></i></button>
                        <button *ngIf="steps[steps.length-1].active" class="btn-custom btn btn-primary mx-auto"
                            (click)="confirm()" style="float: right">Conferma
                            &nbsp;<i class="fa fa-check arrow"></i></button>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- </div> -->
</ng-template>

<ng-template #editCategory>
    <div class="row">
        <div class="col-12 vertical-tabs">
            <div widget class="card border-0 box-shadow">
                <div class="card-header transparent border-0 text-muted ">
                    <h5 class="mb-0">Modifica categoria</h5>
                </div>
                <div class="card-body widget-body">

                    <div class="modal-body">

                        {{selectedInscription.firstName}} {{selectedInscription.lastName}} - {{selectedInscription.codes}}
        
                        <form [formGroup]="categoryForm" method="post" enctype="multipart/form-data" class="form-horizontal mt-2">
                
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="select1">Nuova categoria</label>
                            <div class="col-md-9">
                              <select class="form-control" id="selectTatami" formControlName="categorycode_id" >
                                <option *ngFor="let category of categoryList" [value]="category.id">{{category.id}} - {{category.specialita}} - {{category.categoria}} {{category.sesso}} {{category.grado}} {{category.cat_peso }}</option>
                            </select>
                            </div>
                          </div>

                          <div class="form-group row">
                        
                            <div class="col-md-9">
                                <div class="custom-control custom-checkbox checkbox-circle">
                                    <input type="checkbox" class="custom-control-input checkbox-primary" id="checkboxPrimary2" formControlName="accorpamento">
                                    <label class="custom-control-label" for="checkboxPrimary2">Accorpamento Kumite</label>
                                </div>
                            </div>
                          </div>
                        </form>
                
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Chiudi</button>
                        <button type="button" class="btn btn-sm btn-primary" (click)="updateCategory()"><i class="fa fa-dot-circle-o"></i> Aggiorna</button>
                      </div>


                </div>

            </div>
        </div>
    </div>

</ng-template>