<div class="col-lg-12 mb-4">
  <h2 *ngIf="athletestNumber">Totale Iscritti: {{athletestNumber.athletes}} - Totale Categorie {{athletestNumber.categories}}</h2>
<br/>

<div class="row mb-1">
  <div class="col">
      <div class="input-group mb-3 box-shadow"> 
          <div class="input-group-prepend">
              <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
          </div>                   
          <input type="text" [(ngModel)]="searchText" placeholder="Search user by name..." class="form-control border-0">
          <div class="input-group-append">
              <span class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-user-plus"></i></span>
              <span (click)="toggle('grid')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-th"></i></span>
              <span (click)="toggle('list')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-list"></i></span>
          </div>
      </div>
  </div>
</div>

<div *ngIf="type=='list'  && !dettaglio" class="row">
  <div class="col-12">

          <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Codice</th>
                  <th>Categoria</th>
                  <th>Specialità</th>
                  <th>Genere</th>
                  <th>N. Atleti</th>
                  <th>Stato</th>
                  <th>Azioni</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let category of categories | paginate: { itemsPerPage: 25, currentPage: p }">                        
                    <td class="align-middle">{{category.id}}</td>
                    <td class="align-middle">{{category.categoria}} - {{category.grado}} {{category.cat_peso}}</td>
                    <td class="align-middle">{{category.specialita}}</td>
                    <td class="align-middle">{{category.sesso}}</td>
                    <td class="align-middle">{{category.n_athletes}}</td>
                    <td class="align-middle">
    
                    <span *ngIf="category.status == categoryStatus.TODO" class="badge badge-success code">Attiva</span>
                    <span *ngIf="category.status == categoryStatus.OPEN" class="badge badge-primary code">Aperta</span>
                    <span *ngIf="category.status == categoryStatus.DOING" class="badge badge-warning code">In corso</span>
                    <span *ngIf="category.status == categoryStatus.BACKLOG" class="badge badge-secondary code"> Non assegnata </span>
                    <span *ngIf="category.status == categoryStatus.CLOSED" class="badge badge-danger code">Chiusa</span>
                    <span *ngIf="category.tatami" class="badge badge-info code ml-2">{{category.tatami}}</span>
                    </td>
                    <td class="align-middle">
                      <button *ngIf="category.status != categoryStatus.CLOSED" type="button" class="btn btn-outline mr-1" data-toggle="tooltip" data-placement="top" title="Assegna a tatami"  (click)="openTatamiModal(category.id)">
                        <i class="fa fa-upload"></i>
                      </button>
                      <button type="button" data-toggle="tooltip" data-placement="top" title="Visualizza categoria" class="btn btn-outline tt mr-1" data-animation="false" (click)="openCategory(category)">
                        <i class="fa fa-file-text"></i>
                      </button>
                      <button type="button" data-toggle="tooltip"  class="btn btn-primary btn-sm tt mr-1" 
                      *ngIf="category.id.includes('KU')" (click)="openKumiteBrackets(category)">
                        Tabellone
                      </button>
                      <button *ngIf="category.status == categoryStatus.CLOSED" type="button" class="btn btn-sm btn-warning text-dark ml-1" data-toggle="modal" (click)="openRankingModal(category)">
                        <i class="fa fa-trophy" tooltip="Visualizza classifica"></i>
                      </button>
                      <button *ngIf="category.status == categoryStatus.BACKLOG && category.sesso == 'M/F'" type="button" class="btn btn-outline mr-1" data-toggle="tooltip" data-placement="top" title="Dividi categoria"  (click)="splitCategory(category)">
                        <i class="fa fa-files-o"></i>
                      </button>
                    </td>
                  </tr>
              </tbody>
          </table>

  </div>
</div>

<div *ngIf="type=='grid'  && !dettaglio" class="row">
  <div *ngFor="let tatami of tatamiStatus; let i = index;" class="col-xl-4 col-lg-6 mb-4">
      <div class="flip">
          <div class="content">
              <div class="front">
                  <div class="card border-0 box-shadow rounded-0">
                      <div class="card-header border-0 rounded-0 text-muted">
                          <h5 class="mb-0">
                             <i class="fa fa-user mr-2 text-success" placement="bottom" [ngbTooltip]="'deleted'"></i>
                             {{tatami.name}}
                          </h5>
                          <div class="widget-controls"> 
                              <a (click)="openMenuAssign($event)" href="javascript:void(0);" class="transition"><i class="fa fa-bars"></i></a> 
                              <a href="javascript:void(0);" class="transition"><i class="fa fa-pencil"></i></a>             
                          </div>        
                      </div>
                      <div class="card-body pt-3">
                          
                          <div class="media">                
                              <div class="media-body">
                                  <div class="row" *ngFor="let category of tatami.userCategories">  
                                      <div class="col-2 text-gray text-right pr-0 font-italic">
                                        <span *ngIf="category.status == categoryStatus.TODO" class="badge badge-success code">{{category.categorycode.id}}</span>
                                        <span *ngIf="category.status == categoryStatus.OPEN" class="badge badge-primary code">{{category.categorycode.id}}</span>
                                        <span *ngIf="category.status == categoryStatus.DOING" class="badge badge-warning code">{{category.categorycode.id}}</span>
                                        <span *ngIf="category.status == categoryStatus.BACKLOG" class="badge badge-secondary code">{{category.categorycode.id}}</span>
                                      </div>
                                      <div class="col-10 pl-2">
                                        <span *ngIf="category.status == categoryStatus.TODO">{{category.categorycode.specialita}} - {{category.categorycode.categoria}} {{category.categorycode.grado}} - {{category.categorycode.sesso}} {{category.categorycode.cat_peso}}</span>
                                        <span *ngIf="category.status == categoryStatus.OPEN">{{category.categorycode.specialita}} - {{category.categorycode.categoria}} {{category.categorycode.grado}} - {{category.categorycode.sesso}} {{category.categorycode.cat_peso}}</span>
                                        <span *ngIf="category.status == categoryStatus.DOING">{{category.categorycode.specialita}} - {{category.categorycode.categoria}} {{category.categorycode.grado}} - {{category.categorycode.sesso}} {{category.categorycode.cat_peso}}</span>
                                        <span *ngIf="category.status == categoryStatus.BACKLOG">{{category.categorycode.specialita}} - {{category.categorycode.categoria}} {{category.categorycode.grado}} - {{category.categorycode.sesso}} {{category.categorycode.cat_peso}}</span>
                                      </div>                          
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
              <div class="back">
                  <div class="card border-0 box-shadow rounded-0">
                      <div class="card-header border-0 rounded-0 text-muted">
                          <h5 class="mb-0">
                            {{tatami.name}} - Categorie concluse
                          </h5>
                          <div class="widget-controls"> 
                              <a (click)="closeMenuAssign($event)" href="javascript:void(0);" class="transition"><i class="fa fa-times"></i></a>
                          </div>        
                      </div>
                      <div class="card-body pt-3"> 
                        <div class="row" *ngFor="let category of tatami.userCategories">  
                          <div class="col-2 text-gray text-right pr-0 font-italic">
                            <span *ngIf="category.status == categoryStatus.CLOSED" class="badge badge-danger code">{{category.categorycode.id}}</span>
                          </div>
                          <div class="col-10 pl-2">
                            <span *ngIf="category.status == categoryStatus.CLOSED">{{category.categorycode.specialita}} - {{category.categorycode.categoria}} {{category.categorycode.grado}} - {{category.categorycode.sesso}}</span>
                          </div>                          
                      </div>                             
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row" *ngIf="type=='list' && !dettaglio">
  <div class="col-12">
      <div class="bg-white text-center">
          <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="3"></pagination-controls>
      </div>        
  </div>
</div>

<div *ngIf="dettaglio">
  <div class="col-lg-12 text-center">
    <h2>{{selectedCategory.specialita}} {{selectedCategory.categoria}} - {{selectedCategory.grado}} {{selectedCategory.cat_peso}} {{selectedCategory.sesso}}</h2>
    
    <button type="button" data-toggle="tooltip" data-placement="top" class="btn btn-outline-primary tt mt-4" data-animation="false" (click)="backTocategory()">
      Torna all'elenco categorie
    </button>
    <button type="button" class="btn btn-outline-primary mr-1" data-toggle="modal" (click)="generatePdf(selectedCategory)">
      <i class="fa fa-print mr-3" tooltip="Stampa tabellone"> Stampa</i>
    </button>

    </div>
  

<div class="row">

<div id="kumite" style="margin: 0 auto;">
  <div id="minimal"></div>

  <div id="girone-2"></div>

  <div id="girone-3"></div>
</div>
</div>
</div>

<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assegna a Tatami</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>{{message}}</p>
        
        <form [formGroup]="tatamiForm" method="post" enctype="multipart/form-data" class="form-horizontal">

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Select</label>
            <div class="col-md-9">
              <select class="form-control" id="selectTatami" formControlName="user_id" (change)="showTatamiStatus()" >
                <option *ngFor="let tatami of tatamiList" [value]="tatami.id">{{tatami.name}}</option>
            </select>
            </div>
          </div>
        </form>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" (click)="primaryModal.hide()"><i class="fa fa-ban"></i> Chiudi</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="assignTatami()"><i class="fa fa-dot-circle-o"></i> Invia</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #listModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="selectedCategory" class="modal-title">{{selectedCategory.id}} - {{selectedCategory.specialita}} - {{selectedCategory.categoria}} - {{selectedCategory.grado}} {{selectedCategory.sesso}} {{selectedCategory.cat_peso}}</h4>
        <button type="button" class="close" (click)="listModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">

              <div class="card-body">
                <table datatable class="table table-sm dataTable table-striped hover">
                  <thead>
                    <tr role="row">  
                      <th>Colore</th>
                      <th>Nome</th>
                      <th>Data Nascita</th>
                      <th>Società</th>
                      <th>Responsabile</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let athlete of athleteList" [ngClass]="athlete.accorpamento ? 'table-info': ''">
                      <td><i class="fa fa-user-circle-o fa-lg" style="color:blue"></i></td>
                      <td>{{athlete.athlete.cognome}} {{athlete.athlete.nome}}</td>
                      <td>{{athlete.athlete.data_nascita}}</td>
                      <td>{{athlete.athlete.club.club_name}}</td>
                      <td>{{athlete.athlete.club.club_manager}}</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--/.col-->
      
        </div>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" (click)="listModal.hide()"><i class="fa fa-ban"></i> Chiudi</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #rankingModal="bs-modal" class="modal fade" id="rankingModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">
            <i class="fa fa-trophy text-warning mr-2"></i>
            Classifica: {{ selectedCategory?.specialita }} {{ selectedCategory?.categoria }} {{ selectedCategory?.grado }}  {{ selectedCategory?.sesso }}  {{ selectedCategory?.cat_peso }}
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" (click)="rankingModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        
        <div *ngIf="!rankingData || rankingData.length === 0" class="text-center py-4">
            <p class="text-muted">Nessuna classifica disponibile.</p>
        </div>

        <div *ngIf="rankingData && rankingData.length > 0" class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Atleta</th>
                        <th class="text-center">Punti</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rankingData; index as i">
                        <td class="align-middle font-weight-bold">
                          <span *ngIf="row.final_ranking == 1" title="Oro">🥇 1°</span>
                          <span *ngIf="row.final_ranking == 2" title="Argento">🥈 2°</span>
                          <span *ngIf="row.final_ranking == 3" title="Bronzo">🥉 3°</span>
                          <span *ngIf="row.final_ranking == 4"   title="Bronzo">🥉 3°</span>
                        </td>
                        <td class="align-middle">
                            <strong>{{ row.athlete.cognome }} {{ row.athlete.nome }}</strong><br>
                            <small class="text-muted">{{ row.athlete.club.club_name }}</small>
                        </td>
                        <td class="text-center align-middle">{{ row.panel_data?.total_score }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="rankingModal.hide()" data-dismiss="modal">Chiudi</button>
      </div>

    </div>
  </div>
</div>