export APP_NAME="KContest"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="it_IT"
export APP_DEFAULT_TIMEZONE="Europe/Rome"
export SECURITY_SALT="__SECURITY_SALT__"
export KCONTEST_BACKUP_ROOT="C:/ProgramData/KContest/backups"
export ONLINE_API_URL="https://www.iscrizionicsenveneto.it/apiV2/"

export DB_HOST="127.0.0.1"
export DB_PORT="5432"
export DB_DATABASE="kcontest_desk"
export DB_USERNAME="kcontest_app"
export DB_PASSWORD="__DB_PASSWORD__"
export DB_SCHEMA="public"
export SECURITY_SALT="__SECURITY_SALT__"

export MYSQL_SOURCE_HOST="127.0.0.1"
export MYSQL_SOURCE_PORT="3306"
export MYSQL_SOURCE_DATABASE="kcontest-desk"
export MYSQL_SOURCE_USERNAME="root"
export MYSQL_SOURCE_PASSWORD=""

